<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    {{form.csrf_token}}<!-- 渲染CSRF令牌隐藏字段 -->
    {{form.username.label}}{{form.username}}<br/>
    {% for message in form.username.errors %}
    <small class="error">{{message}}</small><br/>
    {% endfor%}


    {{form.password.label}}{{form.password}}<br/>
    {% for message in form.password.errors %}
    <small class="error">{{message}}</small><br/>
    {% endfor%}
    {{form.remember}}{{form.remember.label}}<br/>


    {{form.remember}}{{form.remember.label}}<br/>
    {{form.submit}}<br/>
    {{form.submit}}<br/>
    {{form.submit}}<br/>

</form>

</body>
</html>